/* PALETA COLORES 
.color1 {color: #271207;} MARRON
.color2 {color: #125c07;} VERDE
.color3 {color: #FF6608;} NARANJA
.color4 {color: #eac344;} CAQUI
.color5 {color: #e3e983;} BLANCO ROTO*/

body {
  font-size: 16px;
  color: #fff;
  background-color: #125c07;
  /*font-family: 'Oxygen', sans-serif;*/
  font-family: 'Dancing Script', cursive;
}

/** HEADER **/
#header-nav{
  background-color: #271207;
  border-radius: 0;
  border: 0;
}

#logo-img{
  background: url('../images/logo.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 85px 10px 0;  	
}

.navbar-brand{
  padding-top: 15px;
}

.navbar-brand h1{ /* Nombre de la Sidrería */
  color: #ffffff;  
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  /*margin-top: 0;*/
  margin-bottom: 0;
  /*line-height: .75;*/
}

.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;
}

.navbar-brand p{ /*Logo Botella-Manzana DOP */
  color: #125c07;
  fot-size: .7em;
  font-weight: bold;
  vertical-align: middle;
}

#nav-list{	
  margin-top: 10px;
}

#nav-list a{
  color: #ffffff;
  text-align: center;
}

#nav-list a:hover{
	color: #125c07; 
}

#nav-list a span{
  font-size: 2em;
}

#phone{
  margin-top: 5px;
}

#phone a{ /*Phone number*/
  text-align: right;
  padding-bottom: 0;  
}

#phone div{ /*Encargos*/
  color: #125c07;
  font-size: 1.5em;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #6112f;
}

.navbar-header button.navbar-toogle{
	clear:both;
	margin-top: -30px;
}

/* END HEADER */

/* HOME PAGE */
/* JUMBOTRON */
.container .jumbotron{
	box-shadow: 0 0 50px #3F0C1F;
	border: 2px solid #3F0C1F;
}

/* SECTIONS */
#menu-tile, #specials-tile, #map-tile{
	height: 250px;
	width:100%;
	margin-bottom: 15px;
    /*margin-top: 15px;*/
	position: relative;
	border: 2px solid #3f0c1f;
	overflow: hidden;
}

#menu-tile:hover, #specials-tile:hover, #map-tile:hover{
	box-shadow: 0 1px 5px 1px #e3e983;	
}

#menu-tile{
	background: url('../images/menu.png') no-repeat;
	background-position: center;
}

#specials-tile{
	background: url('../images/special.png') no-repeat;
	background-position: center;
}

#menu-tile span, #specials-tile span, #map-tile span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
}

/* FOOTER */
.panel-footer{
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0;
    font-size: 18px;
}

.panel-footer div.row{
    margin-bottom: 35px;
}

#hours, address{
    line-height: 2;
}

#hours > span, #address > span{
    font-size: 1.3em;
}

#address p{
    color: #557c3e;
    font-size: .8em;
    line-height: 1.8;
}

#testimonials{
    font-style: italic;
}

#testimonials p:nth-child(2){
    margin-top: 25px;    
}
/* END HOME PAGE*/
/* MENU CATEGORIES PAGE */
.category-tile{
    position: relative;
    border: 1px solid #3f0c1f;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
}

.category-tile span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
}

.category-tile:hover{
    box-shadow: 0 1px 5px 1px #e3e983;
}

#menu-categories-title + div{
    margin-bottom: 50px;
}

/** END MENU CATEGORIES PAGE **/

/* SINGLE CATEGORY PAGE */
.menu-item-tile{
    margin-bottom: 25px;
}

.menu-item-tile hr{
    width: 80%;
}

.menu-item-tile .menu-item-price{
    /*font-size: 1em;*/
    text-align: right;
    margin-top: -15px;
    margin-right: -15px;
}
.menu-item-tile .menu-item-price span{
    font-size: .8em;
}

.menu-item-photo{
    position: relative;
    border: 2px solid #271207;
    overflow: hidden;
    padding: 0;
    margin-right: -15px;
    margin-left: auto;
    margin-bottom: 20px;
    max-width: 250px;
    max-height: 200px;
}
.menu-item-photo div{   /* dish number */
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    background-color: #125c07;
    text-align: center;
    opacity: .8;
}

.menu-item-description{
    padding-right: 30px;
}
h3.menu-item-tile{
    margin: 0 0 10px;
}

.menu-item-details{
    font-size; .9em;
    font-style: italic;
}

/* END SINGLE CATEGORY PAGE */





/******** Large devices only ******/
@media(min-width: 1200px){
	/* Jumbotron*/
	.container .jumbotron{
		background: url('../images/jumbotron-1200.png') no-repeat;
		height: 675px;		
	}
}

/******** Medium devices only ******/
@media(min-width: 993px) and (max-width: 1199.99px){
	/* Header */
	#header-nav{
		height: 140px;
	}	
	
	#logo-img{		
		background: url('../images/logo-medium.png') no-repeat;
  		width: 100px;
  		height: 100px;
  		margin: 10px 85px 10px 0;		
	}
	
	.navbar-brand{
		font-size: 1em;
	}
	
	.navbar-brand img{
		height: 50px;
		width: 50px
	}
	
	#nav-list a span{
  		font-size: 1.5em;
	}
	
	
	/* End Header */
	
	/*Jumbotron*/
	.container .jumbotron{
		background: url('../images/jumbotron-992.png') no-repeat;
		height: 558px;		
	}

}

/******** Small devices only ******/
@media(min-width: 768px) and (max-width: 992.9px){
	/* Header */
	#header-nav{
		height: 130px;
	}	
	
	#logo-img{		
		background: none;		
	}
	
	.navbar-brand{
		font-size: 1em;
	}
	
	.navbar-brand img{
		height: 50px;
		width: 50px
	}
	
	#nav-list a span{
  		font-size: 1.3em;
	}
	/* End Header */
	
	/* Jumbotron */
	.container .jumbotron{
		background: url('../images/jumbotron-992.png') no-repeat;
		height: 432px;		
	}
}

/******** Extra Small devices only ******/
@media (max-width: 767.9px){
	/* Header */
	#header-nav{
		height: 105px;
	}
	.navbar-brand{
		padding-top: 10px;
		height: 105px;
	}
	
	.navbar-brand h1{
		padding-top: 5px;
		margin-top: 0;
		font-size: 5vw;
	}
	
	.navbar-brand p{ /* DOP */
		font-size: .8em;
		font-weight: bold;
		margin-top: 10px;		
	}
	
	.navbar-brand p img{ /* Logo DOP */		
		height: 30px;
	}
	
	/* Collapsed menu */
	#collapsable-nav a{
		font-size: 1.2em;
	}	
	
	#collapsable-nav a span{
		font-size: 1em;
		margin-right: 8px;
	}
	
	#call-btn > a{
		font-size: 1.5em;
    	display: block;
    	margin: 0 20px;
    	padding: 10px;
    	border: 2px solid #e3e983;    
    	background-color: #271207;
    	color: #951c49;
	}
	
	#call-btn a{
		color: #e3e983;
	}
	
	#xs-deliver {
    margin-top: 5px;
    font-size: .8em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
	/* End Header */
	
	/* Jumbotron */
	.container .jumbotron{
		margin: 30px 0 0 0;
		padding: 0;		
	}
    
    /* Sections */
    #menu-tile, #specials-tile{
        margin: 8px auto 7PX; 
        width: 360px;
    }	
    
     /* FOOTER */
    .panel-footer section{
        margin-bottom: 30px;
        text-align: center;        
    }
    
    .panel-footer section:nth-child(3){
        margin-bottom: 0; /*margin already exists on the whole row*/
    }
    
    .panel-footer section hr{
        width: 50%;
    }
    
    /* SINGLE CATEGORY PAGE */
    .menu-item-photo{
        margin-right: auto;
    }
    
    .menu-item-tile .menu-item-price{
        text-align: center;
    }
    
    .menu-item-tile .menu-item-title{
        text-align: center;
    }
    
    
}

/************** Super Extra Small devices **********/
@media (max-width: 479px){
    
    .navbar-brand h1{
        padding-top: 5px;
        font-size: 6vw;
    }
    /* HOME PAGE */
    /* SECTIONS */
    #menu-tile, #specials-tile{
        width: 343px;
        margin: 10px auto 7px;
    }
    
    /* MENU CATEGORIES TILES */
    .col-xxs-12{
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        width: 100%;
    }        
}

@media(min-width: 359px) and (max-width: 478.9px){
    /* SECTIONS */
    #menu-tile, #specials-tile{
        width: 330px;
        margin: 10px auto 7px;
}